body{
    background-image: url("images/11.jpg");
} 
h1{
    color: black;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
h6{
    color: white;
    text-align: white;
}
p{
    color:white;
    opacity: 1;
}
div{
    text-align: center;

}
.center {
    margin-left: auto;
    margin-right: auto;
  }
.main{
    width:900px;
    height:2000px;
    background: rgba(0, 0, 0, 0.9); 
    margin: auto; 
    border:10px black;
    padding: 50px 50px
}
.child{
    background-color:white; 
    margin: auto; 
    border:10px black;
    padding: 25px 25px

}

.paragraph{
    width: 800px;
    height: 200px
}

.image_header{
    width: 600;
    height: 400;
    position: relative;
}

.image_inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.p1{
    background-color:white;
}

.p1 img{
    width:90%;
    position: static;
    object-fit: cover;
}